 body { 
 /* Задаем стили для тела страницы */
      text-align: center;
      /* Центрируем текст по горизонтали */
      font-family: Arial, sans-serif;
      /* Задаем шрифт для текста */
    }
    
    form {
      /* Задаем стили для формы */
      margin: 20px auto;
      /* Задаем отступы сверху и снизу, и автоматически центрируем форму по горизонтали */
      max-width: 400px;
      /* Ограничиваем ширину формы */
    }
    
    label {
      /* Задаем стили для метки */
      display: block;
      /* Делаем метку блочным элементом */
      margin-bottom: 10px;
      /* Задаем отступ снизу */
      font-weight: bold;
      /* Делаем текст жирным */
    }
    
    input[type="number"] {
      /* Задаем стили для поля ввода типа числа */
      width: 100px;
      /* Задаем ширину поля ввода */
      padding: 5px;
      /* Задаем отступы внутри поля ввода */
      border-radius: 5px;
      /* Задаем радиус скругления углов поля ввода */
      border: 2px solid #ccc;
      /* Задаем стиль границы поля ввода */
    }
    
    button {
      /* Задаем стили для кнопки */
      margin-top: 10px;
      /* Задаем отступ сверху */
      padding: 10px;
      /* Задаем отступы внутри кнопки */
      border-radius: 5px;
      /* Задаем радиус скругления углов кнопки */
      border: none;
      /* Убираем границу */
      background-color: #009688;
      /* Задаем цвет фона кнопки */
      color: #fff;
      /* Задаем цвет текста кнопки */
      font-size: 13px;
      /* Задаем размер шрифта текста кнопки */
      cursor: pointer;
      /* Задаем курсор при наведении на кнопку */
    }
    
    button:hover {
      /* Задаем стили для кнопки при наведении курсора */
      background-color: #006d5b;
      /* Задаем цвет фона кнопки */
    }
    
    #result {
      /* Задаем стили для блока результата */
      font-size: 24px;
      /* Задаем размер шрифта */
      font-weight: bold;
      /* Делаем текст жирным */
      color: #009688;
      /* Задаем цвет текста */
      margin-top: 20px;
      /* Задаем отступ сверху */
    }